[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
errbot = {version = "==5.2.0", extras = ["slack"]}
slackclient = "*"
sh = "*"
requests = "*"
twine = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
